.techCard {
    background-color: lightgoldenrodyellow;
    flex-wrap: wrap;
    align-content: center;
}

.fa-js-square, .fa-css3-alt, .fa-sass, .fa-html5, .fa-react {
    margin: 5px;
    color: palevioletred;
}