.techCard {
    background-color: #333;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    display: inline-flex;
}

.fa-js-square, .fa-css3-alt, .fa-sass, .fa-html5, .fa-react {
    margin: 5px;
    color: #ff914d;
}