@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

body {
    font-family: 'Norican', cursive;
}


.fa-github, .fa-linkedin, .fa-envelope {
    color: lightgray;
    margin: 10px;
    align-content: center;
  }